/*公共样式*/
@charset "utf-8";

HTML {
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  font-size: 12px;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  font-size: 12px;
  font-family: Gilroy, 'SourceHanSansCN';
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
select {
  text-transform: none;
}

/*清除默认盒子模型*/

p,
textarea,
ul,
li,
select,
h1,
h2,
h3,
h4,
h5,
h6,
head,
br {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #43DDC0;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

/* 去除IE下默认边框,顶部对齐 */
img {
  /* width      : 100%; */
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

.new-preview img {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

span {
  cursor: default;
}

a {
  cursor: pointer;

  span {
    cursor: pointer;
  }
}
.bg-f6{
  background-color: #f6f9fb;
}
